@import "tailwindcss";

@layer utilities {
  .bg-orange {
    background-color: var(--color-orange);
  }

  .bg-orange-light {
    background-color: var(--color-orange-light);
  }

  .bg-gray-medium {
    background-color: var(--color-gray-medium);
  }

  .bg-gray-dim {
    background-color: var(--color-gray-dim);
  }

  .text-gray-light {
    color: var(--color-gray-light);
  }

  .text-white {
    color: var(--color-white);
  }
}

@layer components {
  .btn-primary {
    @apply bg-orange text-white hover:bg-orange-light font-semibold px-6 py-2 rounded-lg;
  }

  .btn-disabled {
    @apply bg-gray-medium text-gray-light cursor-not-allowed hover:bg-gray-dim;
  }
}

@theme {
  --color-black: #0d0d0d;
  --color-white: #ffffff;

  --color-orange: #ff6f00;
  --color-orange-light: #ffa726;

  --color-gray-dark: #1f1f1f;
  --color-gray-medium: #3a3a3a;
  --color-gray-light: #b0b0b0;
  --color-gray-dim: #606060;
}
